##==============================================================================
## LOGO
##==============================================================================

## Debian logo, adapted for synth-shell. Original by metallo on the debian dev list?

# logo="       _,met\$\$\$\$\$gg.
#     ,g\$\$\$\$\$\$\$\$\$\$\$\$\$\$\$P.
#   ,g\$\$P\"\"       \"\"\"Y\$\$.\".
#  ,\$\$P'              \`\$\$\$.
# ',\$\$P       ,ggs.     \`\$\$b:
# \`d\$\$'     ,\$P\"'   .    \$\$\$
#  \$\$P      d\$'     ,    \$\$P
#  \$\$:      \$\$.   -    ,d\$\$'
#  \$\$;      Y\$b._   _,d\$P'
#  Y\$\$.    \`.\`\"Y\$\$\$\$P\"'
#  \`\$\$b      \"-.__
#  \`Y\$\$b
#   \`Y\$\$.
#     \`\$\$b.
#       \`Y\$\$b.
#         \`\"Y\$b._
#             \`\"\"\"\"\n"



##==============================================================================
## COLORS
##==============================================================================

format_info="		-c white"
format_highlight="	-c light-blue	-e bold"
format_crit="		-c red		-e bold"
format_deco="		-c white	-e bold"
format_ok="		-c light-blue	-e bold"
format_error="		-c red		-e bold     -e blink"
format_logo="		-c red 		-e bold"


##==============================================================================
## STATUS INFO
##==============================================================================

# CPUTEMP
# SYSLOAD_MON%
# UPTIME
print_info="
	OS
	KERNEL
	CPU
	SPACER
	SHELL_NAME
	USER
	DATE
	SERVICES
	SPACER
	LOCALIPV4
	EXTERNALIPV4
	MEMORY_MON
	SWAP_MON
	HDDHOME_MON
	PALETTE"



##==============================================================================
## OS-SPECIFIC CONFIG
##==============================================================================

distro_id=`cat /etc/*-release | sed -En 's/^ID=(.*)/\1/p'`
distro_config_file="$HOME/.config/synth-shell/os/synth-shell-greeter.$distro_id.config"
if [ -f "$distro_config_file" ]; then source "$distro_config_file" ; fi

