[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "private"]
	path = private
	url = git@github.com:alonso-herreros/dotfiles_private
[submodule "config/oh-my-zsh/custom/themes/powerlevel10k"]
	path = config/oh-my-zsh/custom/themes/powerlevel10k
	url = https://ghithub.com/romkat/powerlevel10k
