[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "private"]
	path = private
	url = git@github.com:alonso-herreros/dotfiles_private
[submodule "config/oh-my-zsh/custom/themes/powerlevel10k"]
	path = config/oh-my-zsh/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule "scripts/oh-my-zsh"]
	path = scripts/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
