; WARNING: This BARELY works

[Unit]
Description=hyprland’s GPU-accelerated screen locking utility
Documentation=https://github.com/hyprwm/hyprlock
Before=sleep.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
; User=%I
Type=exec
ExecStart=/usr/bin/hyprlock
ExecReload=kill -SIGUSR2 $MAINPID
Restart=on-failure
RestartForceExitStatus=SIGTERM

; This throws a warning because sleep.target doesn't exist as a user unit
[Install]
WantedBy=sleep.target
