[Unit]
Description=GPU based terminal emulator (headless single instance)
Documentation=https://sw.kovidgoyal.net/kitty/
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/kitty --single-instance --start-as hidden \
    --instance-group confirm -o confirm_os_window_close=-1
Restart=on-failure

[Install]
WantedBy=graphical-session.target
