@import "macchiato.css";
@define-color burgundy #800020;

* {
    font-family: "JetBrainsMono Nerd Font", "Noto Serif CJK JP", "Noto Sans", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: @text;
    border: none;
    outline: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

#waybar {
    background-color: transparent;
    border-radius: 10px;
    transition-property: background-color;
    transition-duration: .5s;
}

.modules-right,
.modules-center,
.modules-left {
    background-color: transparent;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

/* ====== GENERAL ====== */

/* Groups and standalones */
#batt-utils,
#keyboard,
#workspaces,
#tray,
#window,
#media,
#load,
#status,
#session-time {
    background-color: @surface0;
    border-radius: 100px;
    margin: 0 3px;
}

/* Subgroups */
#load-temp,
#load-cpu,
#load-gpu,
#load-mem,
#audio-sinks,
#audio-sources,
#bluetooth-group,
#network-group {
    border-radius: 100px;
    padding: 0 5px;
}

/* Modules */
#clock,
#battery,
#power-profiles-daemon,
#idle_inhibitor,
#keyboard-icon,
#keyboard-state,
#language,
#tray > *:not(menu),
#window,
#submap,
#temperature,
#cpu,
#memory,
#mpris,
#custom-prevsong,
#custom-nextsong,
#pulseaudio,
#bluetooth,
#network,
#user,
#custom-lock,
#custom-exit,
#custom-poweroff,
#custom-restart,
#custom-hibernate {
    border-radius: 100px;
    padding: 0 10px;
}

/* Bundled modules */
#cpu,
#memory,
#temperature,
#pulseaudio,
#bluetooth,
#network,
#user {
    padding: 0 3px;
}

/* ==== Statuses ==== */

/* Actionable hovers */
button:hover,
#power-profiles-daemon:hover,
#idle_inhibitor:hover,
#tray *:hover,
#tray > .passive:hover,
#tray > .active:hover,
#mpris:hover,
#custom-prevsong:hover,
#custom-nextsong:hover,
#audio-sinks:hover,
#audio-sources:hover,
#bluetooth-group:hover,
#custom-lock:hover,
#custom-exit:hover,
#custom-poweroff:hover,
#custom-hibernate:hover,
#custom-restart:hover {
    background: @surface2;
}

/* Non-actionable hovers */
#language:hover,
#load-temp:hover,
#load-cpu:hover,
#load-gpu:hover,
#load-mem:hover,
#network-group:hover,
#clock:hover {
    background: @surface1;
}

/* Activated */
button.active,
#idle_inhibitor.activated {
    background: @surface1;
}

/* Disabled */
#workspaces button:not(.hosting-monitor),
#mpris.track.paused,
#pulseaudio.sink.muted,
#pulseaudio.sink_val.muted,
#pulseaudio.mic.source-muted,
#pulseaudio.mic_val.source-muted,
#bluetooth.disabled,
#bluetooth.off,
#network.disconnected {
    color: @overlay2;
}

/* Focused */
button.focused,
#idle_inhibitor:focus {
    background: @lavender;
}

/* Urgent */
button.urgent,
#tray > .needs-attention {
    background: @red;
    color: @base;
}
#workspaces button.urgent * {
    color: @base;
}


/* ====== SPECIFIC ====== */

/* Time-battery group */
#clock { color: @rosewater; }

#battery {
    margin: 0;
    color: @base;
    background-color: @overlay1;
    background-repeat: no-repeat;
    background-image: linear-gradient(@green, @green);
}
#battery._5, #battery._10, #battery._15, #battery._20 {
    background-image: linear-gradient(@red, @red);
}
#battery._30, #battery._40 {
    background-image: linear-gradient(@peach, @peach);
}
#battery._50, #battery._00 {
    background-image: linear-gradient(@yellow, @yellow);
}
#battery.charging, #battery.plugged {
    background-image: linear-gradient(@sapphire, @sapphire);
}

#battery._5 { background-size: 5% 100%; }
#battery._10 { background-size: 10% 100%; }
#battery._15 { background-size: 15% 100%; }
#battery._20 { background-size: 20% 100%; }
#battery._30 { background-size: 30% 100%; }
#battery._40 { background-size: 40% 100%; }
#battery._50 { background-size: 50% 100%; }
#battery._60 { background-size: 60% 100%; }
#battery._70 { background-size: 70% 100%; }
#battery._80 { background-size: 80% 100%; }
#battery._90 { background-size: 90% 100%; }
#battery._95 { background-size: 95% 100%; }
#battery._100 { background-size: 100%; }

/* Using steps() instead of linear to limit cpu usage */
#battery._5:not(.charging) {
    background-color: @red;
    animation: 1s steps(20) blink infinite alternate;
}
#battery._15:not(.charging) {
    background-color: @surface2;
    animation: 5s steps(100) blink2 infinite alternate;
}
@keyframes blink2 {
    0%   { color: @red; }
    75%  { color: @red; }
    80%  { color: white; }
    85%  { color: red; }
    90%  { color: white; }
    95%  { color: red; }
    100% { color: white; }
}
@keyframes blink {
    0%   { color: @red; background-color: @surface2; }
    80%  { color: @red; background-color: @surface2; }
    90%  { color: @text; background-color: @burgundy; }
    100% { color: @red; background-color: @surface2; }
}

/* ==== Utils ==== */
#power-profiles-daemon { padding: 0 8px; }
#power-profiles-daemon.power-saver { color: @green; }
#power-profiles-daemon.balanced { color: @peach; }
#power-profiles-daemon.performance { color: @sapphire; }

#idle_inhibitor { padding: 0 5px; }

/* ==== Keyboard ==== */
#language { padding: 0 8px; }

#submap {
    padding: 0 8px 0 8px;
    background-color: @subtext1; /* This will apply to CMD and OP */
    color: @base;
}
#submap.REPLACE,
#submap.NORMAL {
    background-color: @blue;
}
#submap.CMD { /* Won't actually work because of extra characters */
    background-color: @mauve;
}
#submap.INSERT {
    background-color: @peach;
}
#submap.VISUAL {
    background-color: @surface1;
    color: @blue;
    font-weight: bold;
}

#keyboard-state { padding: 0; }
#keyboard-state * { color: @teal; }
#keyboard-state .numlock { /* Round left */
    border-radius: 0 100px 100px 0;
    padding: 0 8px 0 5px;
}
#keyboard-state .capslock { /* Round right */
    border-radius: 100px 0 0 100px;
    padding: 0 7px 0 8px;
}
#keyboard-state .locked {
    background-color: @teal;
    color: @base;
}

/* ==== Workspaces ==== */
#workspaces * {
    color: @mauve;
}
#workspaces button {
    border-radius: 100px;
    padding: 0 5px;
}
#workspaces button.special {
    background: @mauve;
}
#workspaces button.special * {
    color: @base;
}

/* ==== Tray ==== */
#tray > *:not(menu) > * { padding: 0 5px; }
#tray > .passive { background-color: @base; }
#tray > .active { background-color: @surface0; }
#tray menu {
    background: @base;
    padding: 0;
}
#tray menu > menuitem {
    padding: 3px 0;
    border-radius: 5px;
}
#tray menu > menuitem > * {
    font-family: Noto Sans, Arial, sans-serif;
    font-size: 9.7pt;
}

/* ==== Window ==== */
/* #window { color: @rosewater; } */

/* ==== Media ==== */
#mpris {
    padding: 0 10px 0 7px;
}

/* ==== Load ==== */
#cpu.low { color: @teal; }
#cpu.normal { color: @green; }
#cpu.medium { color: @yellow; }
#cpu.high { color: @peach; }
#cpu.max { color: @red; }

#temperature { color: @blue; }
#temperature.warning { color: @yellow; }
#temperature.critical { color: @red; }

#memory.low { color: @teal; }
#memory.normal { color: @green; }
#memory.medium { color: @yellow; }
#memory.high { color: @peach; }
#memory.max { color: @red; }

/* ==== Status ==== */
#audio-sources { padding: 0 4px 0 6px; }
#pulseaudio { color: @maroon; }

#bluetooth {
    padding: 0 2px;
    color: @blue;
    letter-spacing: -3px;
}

#network { color: @yellow; }

/* ==== Session ==== */
#user { padding: 0 2px; }
#custom-lock,
#custom-exit,
#custom-poweroff,
#custom-hibernate,
#custom-restart {
    padding: 0 4px 0 6px;
}

