@import "macchiato.css";
@import "theme.css";

* {
    font-family: "JetBrainsMono Nerd Font", "Noto Serif CJK JP", "Noto Sans", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: @on-surface;
    border: none;
    outline: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

#waybar {
    background-color: @background;
}

.modules-right,
.modules-center,
.modules-left {
    background-color: transparent;
    margin: 5px 3px;
}

tooltip {
    border-radius: 15px;
    padding: 0;
    font-size: 10pt;
    border: 1px solid @outline;
}
tooltip label {
    padding: 0 5px;
    color: @text;
}
tooltip * {
    background: transparent;
}
tooltip.background {
    background-color: @surface-high;
}

/* ====== GENERAL ====== */

/* Groups and standalones */
#batt-utils,
#keyboard,
#workspaces,
#tray,
#window,
#custom-launch,
#media,
#load,
#status,
#session-time {
    background-color: @surface;
    border-radius: 100px;
    margin: 0 3px;
}

/* Subgroups */
#load-temp,
#load-cpu,
#load-gpu,
#load-mem,
#audio-sinks,
#audio-sources,
#bluetooth-group,
#network-group {
    border-radius: 100px;
    padding: 0 5px;
}

/* Modules */
#clock,
#battery,
#power-profiles-daemon,
#custom-tlp,
#idle_inhibitor,
#keyboard-icon,
#keyboard-state,
#language,
#tray > *:not(menu),
#window,
#custom-launch,
#submap,
#temperature,
#cpu,
#memory,
#mpris,
#custom-mediavolume,
#custom-prevsong,
#custom-nextsong,
#custom-shuffle,
#custom-loop,
#pulseaudio,
#bluetooth,
#network,
#user,
#custom-lock,
#custom-exit,
#custom-poweroff,
#custom-restart,
#custom-hibernate {
    border-radius: 100px;
    padding: 0 10px;
}

/* Bundled modules */
#cpu,
#memory,
#temperature,
#pulseaudio,
#bluetooth,
#network,
#user {
    padding: 0 3px;
}

/* ==== Statuses ==== */

/* Actionable hovers */
button:hover,
#custom-launch:hover,
#power-profiles-daemon:hover,
#custom-tlp:hover,
#idle_inhibitor:hover,
#tray *:hover,
#tray > .passive:hover,
#tray > .active:hover,
#mpris:hover,
#custom-prevsong:hover,
#custom-nextsong:hover,
#custom-shuffle:hover,
#custom-loop:hover,
#audio-sinks:hover,
#audio-sources:hover,
#bluetooth-group:hover,
#custom-lock:hover,
#custom-exit:hover,
#custom-poweroff:hover,
#custom-hibernate:hover,
#custom-restart:hover {
    background: @surface-highest;
}

/* Non-actionable hovers */
#language:hover,
#custom-mediavolume:hover,
#load-temp:hover,
#load-cpu:hover,
#load-gpu:hover,
#load-mem:hover,
#network-group:hover,
#clock:hover {
    background: @surface-high;
}

/* Activated */
button.active,
#custom-tlp.manual,
#idle_inhibitor.activated {
    background: @surface-high;
}

/* Disabled */
#workspaces button:not(.hosting-monitor),
#mpris.track.paused,
#custom-shuffle.Off,
#custom-loop.None,
#pulseaudio.sink.muted,
#pulseaudio.sink_val.muted,
#pulseaudio.mic.source-muted,
#pulseaudio.mic_val.source-muted,
#bluetooth.disabled,
#bluetooth.off,
#network.disconnected {
    color: @on-surface-dim;
}

/* Focused */
button.focused,
#idle_inhibitor:focus {
    background: @surface-highest;
}

/* Urgent */
button.urgent,
#tray > .needs-attention {
    background: @warning;
    color: @on-warning;
}
#workspaces button.urgent * {
    color: @on-warning;
}


/* ====== SPECIFIC ====== */

/* Time-battery group */
#clock { color: @rosewater; }

#battery {
    margin: 0;
    background-color: @surface-light;
    background-repeat: no-repeat;
    color: @on-range-good;
    background-image: linear-gradient(@range-good, @range-good);
}
#battery._5, #battery._10, #battery._15, #battery._20 {
    color: @on-range-worst;
    background-image: linear-gradient(@range-worst, @range-worst);
}
#battery._30, #battery._40 {
    color: @on-range-bad;
    background-image: linear-gradient(@range-bad, @range-bad);
}
#battery._50, #battery._60 {
    color: @on-range-medium;
    background-image: linear-gradient(@range-medium, @range-medium);
}
#battery.charging, #battery.plugged {
    color: @on-power;
    background-image: linear-gradient(@power, @power);
}

#battery._5   { background-size: 5%   100%; }
#battery._10  { background-size: 10%  100%; }
#battery._15  { background-size: 15%  100%; }
#battery._20  { background-size: 20%  100%; }
#battery._30  { background-size: 30%  100%; }
#battery._40  { background-size: 40%  100%; }
#battery._50  { background-size: 50%  100%; }
#battery._60  { background-size: 60%  100%; }
#battery._70  { background-size: 70%  100%; }
#battery._80  { background-size: 80%  100%; }
#battery._90  { background-size: 90%  100%; }
#battery._95  { background-size: 95%  100%; }
#battery._100 { background-size: 100% 100%; }

/* Using steps() instead of linear to limit cpu usage */
#battery._5:not(.charging) {
    animation: 1s steps(16) blink infinite alternate;
}
@keyframes blink {
    0%   { color: @range-worst; background-color: @surface-highest; }
    80%  { color: @range-worst; background-color: @surface-highest; }
    90%  { color: @on-error;    background-color: @error;           }
    100% { color: @range-worst; background-color: @surface-highest; }
}

#battery._10:not(.charging),
#battery._15:not(.charging) {
    animation: 10s steps(160) blink-burst infinite alternate;
}
@keyframes blink-burst {
    0%   { color: @range-worst; background-color: @surface-highest; }
    90%  {
        color: @range-worst;    background-color: @surface-highest;
        background-image: linear-gradient(@range-worst, @range-worst);
    }
    92%  { color: @on-warning;  background: @warning;         }
    94%  { color: @range-worst; background: @surface-highest; }
    96%  { color: @on-warning;  background: @warning;         }
    98%  { color: @range-worst; background: @surface-highest; }
    100% { color: @on-warning;  background: @warning;         }
}

/* ==== Utils ==== */
#power-profiles-daemon { padding: 0 8px; }
#power-profiles-daemon.power-saver { color: @green; }
#power-profiles-daemon.balanced { color: @range-medium; }
#power-profiles-daemon.performance { color: @power; }

#custom-tlp { padding: 0 8px; }
#custom-tlp.battery { color: @green; }
#custom-tlp.AC { color: @power; }

#idle_inhibitor { padding: 0 5px; }

/* ==== Keyboard ==== */
#language { padding: 0 8px; }

#keyboard-state { padding: 0; }
#keyboard-state * { color: @primary; }
#keyboard-state .numlock { /* Round left */
    border-radius: 0 100px 100px 0;
    padding: 0 8px 0 5px;
}
#keyboard-state .capslock { /* Round right */
    border-radius: 100px 0 0 100px;
    padding: 0 7px 0 8px;
}
#keyboard-state .locked {
    background-color: @primary-surface;
    color: @on-primary-surface;
}

/* ==== Workspaces ==== */
#workspaces * {
    color: @primary;
}
#workspaces button {
    border-radius: 100px;
    padding: 0 5px;
}
#workspaces button.special {
    background: @secondary-surface;
}
#workspaces button.special * {
    color: @on-secondary-surface;
}

/* ==== Tray ==== */
#tray > *:not(menu) > * { padding: 0 5px; }
#tray > .passive { background-color: @surface-low; }
#tray > .active  { background-color: @surface; }
#tray menu {
    background: @surface-high;
    padding: 0;
}
#tray menu > menuitem {
    padding: 3px 0;
    border-radius: 5px;
}
#tray menu > menuitem > * {
    font-family: Noto Sans, Arial, sans-serif;
    font-size: 9.7pt;
}

/* ==== Window ==== */
/* #window { color: @rosewater; } */

/* ==== Launch ==== */
#custom-launch {
    padding: 0 0.55rem;
}

/* ==== Media ==== */
#mpris {
    padding: 0 10px 0 7px;
}
#custom-mediavolume {
    padding: 0 4px 0 4px;
}

#custom-shuffle {
    padding: 0 12px 0 7px;
}
#custom-shuffle.On {
    color: @primary;
}

#custom-loop {
    padding: 0 13px 0 2px;
}
#custom-loop.Playlist,
#custom-loop.Track {
    color: @primary;
}

/* ==== Load ==== */
#cpu.low    { color: @range-best; }
#cpu.normal { color: @range-good; }
#cpu.medium { color: @range-medium; }
#cpu.high   { color: @range-bad; }
#cpu.max    { color: @range-worst; }

#temperature          { color: @temp-low; }
#temperature.warning  { color: @temp-medium; }
#temperature.critical { color: @temp-high; }

#memory.low    { color: @range-best; }
#memory.normal { color: @range-good; }
#memory.medium { color: @range-medium; }
#memory.high   { color: @range-bad; }
#memory.max    { color: @range-worst; }

/* ==== Status ==== */
#audio-sources { padding: 0 4px 0 6px; }
#pulseaudio { color: @maroon; }

#bluetooth {
    padding: 0 2px;
    color: @blue;
    letter-spacing: -3px;
}

#network { color: @yellow; }

/* ==== Session ==== */
#user { padding: 0 2px; }
#custom-lock,
#custom-exit,
#custom-poweroff,
#custom-hibernate,
#custom-restart {
    padding: 0 4px 0 6px;
}

@import "style-local.css";
