@import       "macchiato.css";

@define-color burgundy                #800020;

/* Basics and surfaces */
@define-color background              transparent;
@define-color surface-lowest          alpha(@mantle, 0.4);
@define-color surface-low             alpha(@base, 0.4);
@define-color surface                 alpha(@surface0, 0.4);
@define-color surface-high            alpha(@surface1, 0.4);
@define-color surface-highest         alpha(@surface2, 0.4);
@define-color surface-light           alpha(@overlay1, 0.4);
@define-color on-surface              @text;
@define-color on-surface-dim          @overlay1;
@define-color on-surface-bright       shade(@text, 1.1);

@define-color outline                 @overlay1;
@define-color outline-variant         @overlay0;

/* Shadows and overlays */
@define-color shadow-low              rgba(0, 0, 0, 0.20);
@define-color shadow-medium           rgba(0, 0, 0, 0.40);
@define-color shadow-high             rgba(0, 0, 0, 0.60);
@define-color light-low               rgba(255, 255, 255, 0.30);
@define-color light-medium            rgba(255, 255, 255, 0.50);
@define-color light-high              rgba(255, 255, 255, 0.60);

/* Primary and Secondary */
@define-color primary                 @teal;
@define-color on-primary              @base;
@define-color primary-surface         alpha(@teal, 0.9);
@define-color on-primary-surface      @base;

@define-color secondary               @mauve;
@define-color on-secondary            @base;
@define-color secondary-surface       alpha(@mauve, 0.9);
@define-color on-secondary-surface    @base;

/* Functional */
@define-color warning                 @peach;
@define-color on-warning              @base;
@define-color warning-surface         alpha(@peach, 0.9);
@define-color on-warning-surface      @base;

@define-color error                   @red;
@define-color on-error                @base;
@define-color error-surface           alpha(@red, 0.9);
@define-color on-error-surface        @base;

@define-color range-worst             @red;
@define-color range-bad               @peach;
@define-color range-medium            @yellow;
@define-color range-good              @green;
@define-color range-best              @teal;
@define-color on-range-worst          @base;
@define-color on-range-bad            @base;
@define-color on-range-medium         @base;
@define-color on-range-good           @base;
@define-color on-range-best           @base;

@define-color range-worst-surface     alpha(@red, 0.8);
@define-color range-bad-surface       alpha(@peach, 0.8);
@define-color range-medium-surface    alpha(@yellow, 0.8);
@define-color range-good-surface      alpha(@green, 0.8);
@define-color range-best-surface      alpha(@teal, 0.8);
@define-color on-range-worst-surface  @base;
@define-color on-range-bad-surface    @base;
@define-color on-range-medium-surface @base;
@define-color on-range-good-surface   @base;
@define-color on-range-best-surface   @base;

@define-color temp-low                @blue;
@define-color temp-medium             @yellow;
@define-color temp-high               @red;


@define-color power                   @sapphire;
@define-color on-power                @base;
@define-color power-surface           alpha(@sapphire, 0.7);
@define-color on-power-surface        @base;
